# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
checkpoints/
data_engineering/.DS_Store
.gitignore

data_engineering/goit-de-hw-07/airflow_local/*
!data_engineering/goit-de-hw-07/airflow_local/dags/
data_engineering/goit-de-hw-07/airflow_local/dags/*
!data_engineering/goit-de-hw-07/airflow_local/dags/medals_dag_final.py